@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.section-card {
  @apply bg-white p-12 rounded-3xl shadow-lg my-8;
}

.section-title-gradient {
  @apply text-transparent bg-clip-text;
  background-image: linear-gradient(135deg, rgb(2, 132, 199) 0%, rgb(37, 99, 235) 50%, rgb(79, 70, 229) 100%);
}

